* {
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.main-container {
  display: flex;
  height: 100vh;
}

.menu-principal {
  background-color: #fff;
  width: 25vw;
  min-width: 25vw;
  border-right: 1px solid #bec1bb;
}

.perfil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #bec1bb;
}

.barra-menu {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.menu-principal img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
.menu-secundario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 75vw;
  min-width: 30vw;
  height: 100vh;
  background-color: #e8ebe4;
}
.menu-secundario img {
  width: 240px;
  padding: 2rem;
}
.inactivo {
  color: #bec1bb;
}

.estado {
  font-size: small;
}
.pp {
  padding: 0.5rem;
}

.boton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid #bec1bb;
}
.nuevo-chat {
  color: white;
  background-color: #a491d2;
  height: 3rem;
  width: 80%;
}

.descripcion {
  font-size: small;
}

.usuarios {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #bec1bb;
  height: 3.5rem;
  padding: 1rem;
}
